<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width" />

        <link href="~/bootstrap/devoops-master/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
        @Styles.Render("~/bundles/BootstrapCss")
        
        @*Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")*@
    </head>
    <body>

        @Html.Partial("_Cabecera")

        <div id="main" class="container-fluid">
	        <div class="row">
        
                @Html.Partial("_MenuLateral")

                
 
		        <!--Start Content-->
		        <div id="content" class="col-xs-12 col-sm-10">

			        <div id="about">                
				        <div class="about-inner">
					        <h4 class="page-header">Open-source admin theme for you</h4>
					        <p>DevOOPS team</p>
					        <p>Homepage - <a href="http://devoops.me" target="_blank">http://devoops.me</a></p>
					        <p>Email - <a href="mailto:devoopsme@gmail.com">devoopsme@gmail.com</a></p>
					        <p>Twitter - <a href="http://twitter.com/devoopsme" target="_blank">http://twitter.com/devoopsme</a></p>
					        <p>Donate - BTC 123Ci1ZFK5V7gyLsyVU36yPNWSB5TDqKn3</p>
				        </div>
			        </div>
            
			        <div class="preloader">
                        <div class="row">
	                        <div id="breadcrumb" class="col-xs-12">
		                        <a href="#" class="show-sidebar">
			                        <i class="fa fa-bars"></i>
		                        </a>
		                        <ol class="breadcrumb pull-left">
			                        <li><a href="index.html">Home</a></li>
			                        <li><a href="#">Dashboard</a></li>
		                        </ol>
		                        <div id="social" class="pull-right">
			                        <a href="#"><i class="fa fa-google-plus"></i></a>
			                        <a href="#"><i class="fa fa-facebook"></i></a>
			                        <a href="#"><i class="fa fa-twitter"></i></a>
			                        <a href="#"><i class="fa fa-linkedin"></i></a>
			                        <a href="#"><i class="fa fa-youtube"></i></a>
		                        </div>
	                        </div>
                        </div>

                        @RenderBody()
                        				        
			        </div>

		        </div>
		        <!--End Content-->
	        </div>
        </div>


        @*Scripts.Render("~/bundles/BootstrapJquery")*@


        <!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="/bootstrap/devoops-master/plugins/jquery/jquery.min.js"></script>
<script src="/bootstrap/devoops-master/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/devoops-master/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/bootstrap/devoops-master/plugins/justified-gallery/jquery.justifiedGallery.min.js"></script>
<script src="/bootstrap/devoops-master/plugins/tinymce/tinymce.min.js"></script>
<script src="/bootstrap/devoops-master/plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="/bootstrap/devoops-master/js/devoops.js"></script>
        
        @*

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
    </body>
</html>


<style>
    a.show-sidebar {
        margin-left: 25px !important
    }
</style>